:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark light;
  background-color: var(--background-color);
  color: var(--text-color);
  --cart-icon-color: #111;
}

:root.dark {
  --background-color: #242424;
  --text-color: #FFF;
  --cart-icon-color: #FFF;
}

:root.light {
  --background-color: #FFF;
  --text-color: #242424;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #535BF2;
}

body {
  margin: 0;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  /*background: #242424;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color .25s;
}

button:hover {
  border-color: #646CFF;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
}

@media (max-width: 736px) {

  h2 {
    font-size: 19px;
    line-height: 32px;
  }
}

p {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

section {
  padding: 40px;
}

.offset-right-xs {
  margin-right: 80px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.w-6 {
  width: 50%;
}

.padding-120 {
  padding-top: 120px;
}

/*.contentWrapper {*/
/*  max-width: 1174px;*/
/*  margin: 0 auto;*/
/*}*/

@media (max-width: 736px) {

  h2 {
    font-size: 19px;
    line-height: 32px;
  }

  p {
    font-size: 16px;
    line-height: 19px;
  }

  .wrapper {
    flex-direction: column-reverse;
  }

  .offset-mobile-none {
    margin: 0;
  }

  .padding-mobile-none {
    padding-top: 0;
  }

  .w-12 {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  a {
    color: var(--text-color);
  }

  a:hover {
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  a {
    color: var(--text-color);
  }

  a:hover {
    color: var(--text-color);
  }
}
